{% extends "base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ style1 }}">
    <link rel="stylesheet" href="{{ style2 }}">
    <link rel="stylesheet" href="{{ style3 }}">
    <title> Company </title>
</head>
<body>
<div class="all_games_field">
    {% for game in games %}
        <a class="link" href="/game/{{ game.id }}" tabindex="0">
            <div class="field">
                <div class="info">
                    <div class="rating"> {{ game.rating | round | int }} </div>
                    <div class="name"> {{ game.name }} </div>
                    <div class="game_date"> {{ game.release_date }} </div>
                </div>
            </div>
        </a>
        <br><br>
    {% endfor %}
</div>
<div class="pagination">
    {% if cur_page > 1 %}
        <a href="/search/companies/ {{ company.id }} /{{ cur_page - 1 }}">&laquo;</a>
    {% endif %}
    {% if cur_page - games_per_page > 1 %}
        <a href="/search/companies/ {{ company.id }} /1">1</a>
    {% if cur_page - games_per_page - 1 > 1 %}
        <a class="fake" href="#">...</a>
    {% endif %}
    {% endif %}
    {% for page_number in near_pages %}
        <a href="/search/companies/ {{ company.id }} /{{ page_number }}"> {{ page_number }} </a>
    {% endfor %}
    {% if cur_page + games_per_page + 1 < total_pages %}
        <a class="fake" href="#">...</a>
    {% endif %}
    <a href="/search/companies/ {{ company.id }} /{{ total_pages }}"> {{ total_pages }} </a>
    {% if cur_page < total_pages %}
        <a href="/search/companies/ {{ company.id }} /{{ cur_page + 1 }}">&raquo;</a>
    {% endif %}
</div>
</body>
{% endblock %}
